[user]
	email = 4476193+nadavash@users.noreply.github.com
	name = Nadav Ashkenazi
[credential]
	helper =
{{- if eq .chezmoi.os "darwin" }}
	helper = /usr/local/share/gcm-core/git-credential-manager
{{- end }}
[credential "https://dev.azure.com"]
	useHttpPath = true

[includeIf "hasconfig:remote.*.url:https://github.rbx.com/**"]
	path = ~/.gitconfig-work
