{{- if eq .chezmoi.hostname "HQ-F472JY6XK0" }}

# Work laptop configuration:

# herdr configuration
alias claude-herdr=HERDR_AGENT='claude declawd --yolo'
alias codex-herdr=HERDR_AGENT='codex declawd --yolo --codex'

# av-cli aliases
alias av-sync-full='av sync --rebase-to-trunk --push=yes --prune=yes --ff-trunk'

{{- end }}

